.bgNav {
  background-color: #20b2aa;
}
.navBrand {
  color: white;
  font-weight: 900;
}
.navStyle {
  text-decoration: none;
  color: white;
  padding: 0px 15px;
}
.navStyle:hover {
  border-bottom: 2px solid rgb(240, 234, 233);
  color: white;
  transition: 0.5s;
  color: tomato;
}
