.rideHeader1{
    font-size: 64px;
    line-height: 64px;
    /* color: rgba(14,26,80,var(--tw-text-opacity)); */
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #A82637;
}


h5{
    color: rgb(75, 75, 75);
}

h4{
    color: rgb(31, 31, 31);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.ridePara{
    color: rgb(75, 75, 75);
    font-size: 24px;
    line-height: 24px;
   
}

.stepContainer{
    background-color: #06d28715;
    border-radius: 20px;
}

.step{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #06D286;
}

.stepText{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 75, 75);
}